In [18]:
import pandas as pd
import numpy as np
import gc

%matplotlib inline

In [19]:
adData_00 = pd.read_csv('c:\\kaggle\\adtracking\\train.csv', nrows=20000000)

adData_00.info()
adData_00.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000000 entries, 0 to 19999999
Data columns (total 8 columns):
ip                 int64
app                int64
device             int64
os                 int64
channel            int64
click_time         object
attributed_time    object
is_attributed      int64
dtypes: int64(6), object(2)
memory usage: 1.2+ GB

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaN,0
2,35810,3,1,13,379,2017-11-06 14:34:12,NaN,0
3,45745,14,1,13,478,2017-11-06 14:34:52,NaN,0
4,161007,3,1,13,379,2017-11-06 14:35:08,NaN,0

In [20]:
adData_00.tail()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
19999995,8351,3,1,18,280,2017-11-07 03:12:43,NaN,0
19999996,26402,64,1,1,459,2017-11-07 03:12:43,NaN,0
19999997,17948,18,1,19,107,2017-11-07 03:12:43,NaN,0
19999998,67456,12,1,22,145,2017-11-07 03:12:43,NaN,0
19999999,105549,10,1,6,377,2017-11-07 03:12:43,NaN,0

In [21]:
# 49464 download from 11-06 14:32:21 to 11-07 03:12:43, 12 hr 40 min
adData_00[['attributed_time', 'is_attributed']][adData_00['is_attributed']==1].describe()

       is_attributed
count        49464.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [22]:
del adData_00
gc.collect()

adData_01 = pd.read_csv('c:\\kaggle\\adtracking\\train.csv', skiprows=range(1,20000000), nrows=20000000)

adData_01.info()
adData_01.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000000 entries, 0 to 19999999
Data columns (total 8 columns):
ip                 int64
app                int64
device             int64
os                 int64
channel            int64
click_time         object
attributed_time    object
is_attributed      int64
dtypes: int64(6), object(2)
memory usage: 1.2+ GB

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,105549,10,1,6,377,2017-11-07 03:12:43,NaN,0
1,66793,9,1,19,442,2017-11-07 03:12:43,NaN,0
2,20970,3,1,19,115,2017-11-07 03:12:43,NaN,0
3,49197,18,1,6,134,2017-11-07 03:12:43,NaN,0
4,116581,12,1,13,259,2017-11-07 03:12:43,NaN,0

In [23]:
adData_01.tail()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
19999995,86264,18,1,18,107,2017-11-07 09:39:40,NaN,0
19999996,17077,64,1,19,459,2017-11-07 09:39:40,NaN,0
19999997,15983,15,1,14,245,2017-11-07 09:39:40,NaN,0
19999998,185727,12,1,10,178,2017-11-07 09:39:40,NaN,0
19999999,12893,9,1,19,334,2017-11-07 09:39:40,NaN,0

In [24]:
# 53770 download from 11-07 03:12:43 to 11-07 09:39:40, 6 hr 27 min

adData_01[['attributed_time', 'is_attributed']][adData_01['is_attributed']==1].describe()

       is_attributed
count        53770.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [26]:
del adData_01
gc.collect()

adData_02 = pd.read_csv('c:\\kaggle\\adtracking\\train.csv', skiprows=range(1,40000000), nrows=20000000)

adData_02.info()
adData_02.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000000 entries, 0 to 19999999
Data columns (total 8 columns):
ip                 int64
app                int64
device             int64
os                 int64
channel            int64
click_time         object
attributed_time    object
is_attributed      int64
dtypes: int64(6), object(2)
memory usage: 1.2+ GB

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,147296,13,1,18,477,2017-11-07 09:39:40,NaN,0
1,48281,8,1,19,145,2017-11-07 09:39:40,NaN,0
2,5348,27,1,47,153,2017-11-07 09:39:40,NaN,0
3,118229,26,1,18,121,2017-11-07 09:39:40,NaN,0
4,67836,2,1,6,219,2017-11-07 09:39:40,NaN,0

In [27]:
adData_02.tail()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
19999995,91061,1,2,19,125,2017-11-07 16:05:38,NaN,0
19999996,268738,9,2,13,134,2017-11-07 16:05:38,NaN,0
19999997,10584,9,1,18,134,2017-11-07 16:05:38,NaN,0
19999998,66003,3,1,19,280,2017-11-07 16:05:38,NaN,0
19999999,66018,26,1,32,121,2017-11-07 16:05:38,NaN,0

In [28]:
# 49284 download from 11-07 09:39:40 to 11-07 16:05:38, 7 hr 36 min

adData_02[['attributed_time', 'is_attributed']][adData_02['is_attributed']==1].describe()

       is_attributed
count        49284.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [29]:
del adData_02
gc.collect()

adData_03 = pd.read_csv('c:\\kaggle\\adtracking\\train.csv', skiprows=range(1,60000000), nrows=20000000)

adData_03.info()
adData_03.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000000 entries, 0 to 19999999
Data columns (total 8 columns):
ip                 int64
app                int64
device             int64
os                 int64
channel            int64
click_time         object
attributed_time    object
is_attributed      int64
dtypes: int64(6), object(2)
memory usage: 1.2+ GB

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,117465,3,1,19,280,2017-11-07 16:05:38,NaN,0
1,77609,14,1,13,401,2017-11-07 16:05:38,NaN,0
2,74640,23,1,19,153,2017-11-07 16:05:38,NaN,0
3,9886,12,1,13,178,2017-11-07 16:05:38,NaN,0
4,26890,2,1,31,237,2017-11-07 16:05:38,NaN,0

In [30]:
adData_03.tail()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
19999995,222163,12,1,19,242,2017-11-08 03:16:45,NaN,0
19999996,124064,8,1,13,145,2017-11-08 03:16:45,NaN,0
19999997,108881,15,1,19,3,2017-11-08 03:16:45,NaN,0
19999998,151061,3,1,27,409,2017-11-08 03:16:45,NaN,0
19999999,16775,6,1,20,459,2017-11-08 03:16:45,NaN,0

In [31]:
# 45126 download from 11-07 16:05:38 to 11-08 03:16:45, 11 hr 11 min

adData_03[['attributed_time', 'is_attributed']][adData_03['is_attributed']==1].describe()

       is_attributed
count        45126.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [11]:
del adData_03
gc.collect()

adData_04 = pd.read_csv('c:\\kaggle\\adtracking\\train.csv', skiprows=range(1,80000000), nrows=20000000)

adData_04.info()
adData_04.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000000 entries, 0 to 19999999
Data columns (total 8 columns):
ip                 int64
app                int64
device             int64
os                 int64
channel            int64
click_time         object
attributed_time    object
is_attributed      int64
dtypes: int64(6), object(2)
memory usage: 1.2+ GB

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,36022,12,1,19,481,2017-11-08 03:16:45,NaN,0
1,4052,24,1,13,178,2017-11-08 03:16:45,NaN,0
2,15490,12,1,19,124,2017-11-08 03:16:45,NaN,0
3,93592,3,2,9,280,2017-11-08 03:16:45,NaN,0
4,81239,12,1,13,245,2017-11-08 03:16:45,NaN,0

In [ ]:
adData_04.tail()

In [12]:
# 58632 download from 11-08 03:16:45 to 11-08 09:38:15, 6 hr 22 min

adData_04[['attributed_time', 'is_attributed']][adData_04['is_attributed']==1].describe()

       is_attributed
count        58632.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [13]:
adData_05 = pd.read_csv('c:\\kaggle\\adtracking\\train.csv', skiprows=range(1,100000000), nrows=20000000)

adData_05.info()
adData_05.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000000 entries, 0 to 19999999
Data columns (total 8 columns):
ip                 int64
app                int64
device             int64
os                 int64
channel            int64
click_time         object
attributed_time    object
is_attributed      int64
dtypes: int64(6), object(2)
memory usage: 1.2+ GB

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,38311,11,1,15,219,2017-11-08 09:38:15,NaN,0
1,42430,9,1,25,334,2017-11-08 09:38:15,NaN,0
2,268617,12,1,19,219,2017-11-08 09:38:15,NaN,0
3,120245,18,1,25,107,2017-11-08 09:38:15,NaN,0
4,118252,3,1,9,280,2017-11-08 09:38:15,NaN,0

In [14]:
# 44350 download from 11-08 09:38:15 to 11-08 15:19:33, 5 hr 41 min

adData_05[['attributed_time', 'is_attributed']][adData_05['is_attributed']==1].describe()

       is_attributed
count        44350.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [15]:
adData_06 = pd.read_csv('c:\\kaggle\\adtracking\\train.csv', skiprows=range(1,120000000), nrows=20000000)

adData_06.info()
adData_06.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000000 entries, 0 to 19999999
Data columns (total 8 columns):
ip                 int64
app                int64
device             int64
os                 int64
channel            int64
click_time         object
attributed_time    object
is_attributed      int64
dtypes: int64(6), object(2)
memory usage: 1.2+ GB

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,53454,18,1,13,107,2017-11-08 15:19:33,NaN,0
1,95766,12,1,19,265,2017-11-08 15:19:33,NaN,0
2,44744,15,1,18,245,2017-11-08 15:19:33,NaN,0
3,29748,18,1,47,107,2017-11-08 15:19:33,NaN,0
4,71017,15,1,35,245,2017-11-08 15:19:33,NaN,0

In [ ]:
adData_06[['attributed_time', 'is_attributed']][adData_06['is_attributed']==1].describe()

       is_attributed
count        42112.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [2]:
adData_07 = pd.read_csv('c:\\kaggle\\adtracking\\train.csv', skiprows=range(1,140000000), nrows=20000000)

adData_07.info()
adData_07.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000000 entries, 0 to 19999999
Data columns (total 8 columns):
ip                 int64
app                int64
device             int64
os                 int64
channel            int64
click_time         object
attributed_time    object
is_attributed      int64
dtypes: int64(6), object(2)
memory usage: 1.2+ GB

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,32511,1,1,6,153,2017-11-09 02:33:33,NaN,0
1,154267,12,1,19,328,2017-11-09 02:33:33,NaN,0
2,34897,3,1,13,280,2017-11-09 02:33:33,NaN,0
3,191691,14,1,20,480,2017-11-09 02:33:33,NaN,0
4,56105,15,1,19,278,2017-11-09 02:33:33,NaN,0

In [3]:
adData_07[['attributed_time', 'is_attributed']][adData_07['is_attributed']==1].describe()

       is_attributed
count        52689.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [4]:
adData_08 = pd.read_csv('c:\\kaggle\\adtracking\\train.csv', skiprows=range(1,160000000), nrows=20000000)

adData_08.info()
adData_08.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000000 entries, 0 to 19999999
Data columns (total 8 columns):
ip                 int64
app                int64
device             int64
os                 int64
channel            int64
click_time         object
attributed_time    object
is_attributed      int64
dtypes: int64(6), object(2)
memory usage: 1.2+ GB

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,1196,7,1,13,101,2017-11-09 08:17:26,NaN,0
1,11846,12,1,13,259,2017-11-09 08:17:26,NaN,0
2,5147,19,0,0,347,2017-11-09 08:17:26,NaN,0
3,11782,9,1,8,127,2017-11-09 08:17:26,NaN,0
4,33867,35,1,19,21,2017-11-09 08:17:26,2017-11-09 09:05:37,1

In [5]:
adData_08[['attributed_time', 'is_attributed']][adData_08['is_attributed']==1].describe()

       is_attributed
count        52360.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [6]:
adData_09 = pd.read_csv('c:\\kaggle\\adtracking\\train.csv', skiprows=range(1,180000000), nrows=20000000)

adData_09.info()
adData_09.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4903891 entries, 0 to 4903890
Data columns (total 8 columns):
ip                 int64
app                int64
device             int64
os                 int64
channel            int64
click_time         object
attributed_time    object
is_attributed      int64
dtypes: int64(6), object(2)
memory usage: 299.3+ MB

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,321011,9,1,53,489,2017-11-09 14:26:24,NaN,0
1,119179,9,1,13,442,2017-11-09 14:26:24,NaN,0
2,41106,9,1,10,466,2017-11-09 14:26:24,NaN,0
3,11590,12,1,25,259,2017-11-09 14:26:24,NaN,0
4,25299,18,1,22,376,2017-11-09 14:26:24,NaN,0

In [7]:
adData_09[['attributed_time', 'is_attributed']][adData_09['is_attributed']==1].describe()

       is_attributed
count         9059.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0